---
import Mainlayout from "../Layout/Mainlayout.astro";

const name = "sharriy";
---

<Mainlayout
  title="Ayo this is sharriy"
  seoTitle="sharriy is a software dev"
  seoDesc="Test"
  <link
  rel="stylesheet"
  href="/styles/global.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css"
/>

>
<link rel="stylesheet" href="/styles/global.css" />

<!-- Moved inside the Mainlayout as a child -->
<div class="min-h-screen flex flex-col justify-center">
  <div class="w-8/12 md:w-6/12 mx-auto mb-32">
    <h1 class="text-4xl md:text-4xl text-center mb-5">
      Hey there, 👋, I'm sharriy
    </h1>
    <div id="typed-strings">
      <p>I'm a <strong>software dev</strong></p>
      <p>I work with Astro, React, ThreeJs</p>
    </div>
    <div class="text-center"><span id="typed"></span></div>
  </div>

  <div class="flex items-center ml-20 space-x-72">
    <div>
      <h1 class="text-6xl">
        Learn To Code <span class="text-orange-500">Faster</span>
      </h1>
      <p class="text-xl my-5">
        Fireship is a <span class="text-yellow-500">blazingly fast</span> & <span
          class="text-pink-500">highly-amusing</span
        > way to level up your programming skills
        <br /><span class="ml-52">programming skills</span>
        <br />
        <button class="text-md py-1 px-4 text-white bg-green-500 mt-4 ml-60"
          >START HERE</button
        >
      </p>
    </div>
    <img src="/public/rizz/tv.png" alt="TV Image" class="flex-none" />
  </div>
</div>

<div class="dmin-h-screen flex flex-col justify-center items-center">
  <button class="px-4 text-7xl font-bold bg-red-500 text-black"
    >HARDTRUTH</button
  >
  <h1 class="text-5xl mt-14 animate-bounce-slow">👇</h1>
</div>

<div class="mt-10 flex flex-col justify-center items-center">
  <p
    data-aos="fade-in"
    data-aos-offset="10"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    class="text-5xl"
  >
    You <span class="text-red-500">CAN'T</span> learn to code by watching videos
  </p>
  <h1 class="mt-16 text-lg animate-bounce-slow">i'm sad 😓</h1>
</div>

<div class="mt-10 flex flex-col justify-center items-center">
  <span
    data-aos="fade-right"
    data-aos-offset="10"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    class="text-7xl font-bold px-4 bg-green-500 text-black">SOLUTION</span
  >
  <p class="text-3xl text-gray4 max-w-3xl mt-20">
    Fireship is all about <span class="text-green-500">PROJECT-BASED</span> learning.I
    create short highly-focused videos that make learning to <span class="ml-80"
      >code.</span
    >
  </p>
  <h1 class="text-xl animate-bounce-slow mt-20">but like how? 🤯</h1>
</div>
<div class="dmin-h-screen flex flex-col justify-center items-center mt-10">
  <button
    data-aos="fade-right"
    data-aos-offset="10"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    class="px-4 text-7xl font-bold bg-purple-500 text-black">HAVE FUN</button
  >
</div>
<div class="mt-10 flex flex-col justify-center items-center">
  <p class="text-3xl text-gray4 max-w-3xl">
    I built this one-of-a-kind learning platform to give you dopamine hits like
    XP and meme prizes for every <span class="ml-52">little accomplushment</span
    >
  </p>
  <h1 class="text-xl animate-bounce-slow mt-20">
    login now to start earning useless XP points 💎
  </h1>
  <button
    data-aos="fade-right"
    data-aos-offset="10"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    class="px-4 text-7xl font-bold bg-yellow-500 text-black mt-20"
    >Let's Go</button
  >
  <div class="mt-10 flex flex-col justify-center items-center">
    <p class="text-3xl text-gray4 max-w-3xl">
      There's tons of free content here, so <span class="text-yellow-500"
        >PLAY</span
      > around <span class="ml-52">before you upgrade</span>
    </p>
    <h1 class="text-xl animate-bounce-slow mt-20">
      every course starts free 🚀
    </h1>
  </div>
  <h1 class="mt-20">
    Find an issue with a page? <a class="text-blue-500" href=""
      >Fix it on GitHub</a
    >
  </h1>
  <h1 class="mt-5">
    Need help? Email <a href=""
      ><strong class="font-bold">sharriy@gmail.com</strong></a
    >
  </h1>
  <div class="flex justify-center items-center my-2">
    <a class="w-10" href="https://cdnlogo.com/logo/twitter-icon_498.html"
      ><img src="https://www.cdnlogo.com/logos/t/96/twitter-icon.svg" /></a
    >

    <a class="w-10 ml-6" href="https://cdnlogo.com/logo/google-icon_489.html"
      ><img src="https://www.cdnlogo.com/logos/g/35/google-icon.svg" /></a
    >
  </div>
  <h6 class="mt-5 font-bold">HELPFUL LINKS</h6>
</div>
<div class="flex space-x-2 items-center justify-center mt-5">
  <a href="/courses">Courses</a>
  <span> | </span>
  <a href="/lessons">Labs</a>
  <span> | </span>
  <a href="/snippets">Snippets</a>
  <span> | </span>
  <a href="/tags">Tags</a>
  <span> | </span>
  <a href="/contributors">Contrib</a>
  <span> | </span>
  <a href="/privacy">Privacy</a>
  <span> | </span>
  <a href="/terms">Terms</a>
</div>
<div>
  <h1>hi</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>

<script>
  import Typed from "typed.js";
  import AOS from "aos";
  import "aos/dist/aos.css";
  var typed = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 40,
    loop: true,
  });
  AOS.init();
</script>
